
DotMatrixDemo/DotMatrixDemo.xcodeproj/project.xcworkspace/xcuserdata/klaproth.xcuserdatad/UserInterfaceState.xcuserstate

DotMatrixDemo/DotMatrixDemo.xcodeproj/xcuserdata/klaproth.xcuserdatad/xcschemes/DotMatrixDemo.xcscheme

DotMatrixDemo/DotMatrixDemo.xcodeproj/xcuserdata/klaproth.xcuserdatad/xcschemes/xcschememanagement.plist

DotMatrixDemo/DotMatrixDemo.xcodeproj/project.xcworkspace/xcshareddata/DotMatrixDemo.xccheckout

DotMatrixDemo/DotMatrixDemo.xcworkspace/xcshareddata/DotMatrixDemo.xccheckout

DotMatrixDemo/DotMatrixDemo.xcworkspace/xcuserdata/klaproth.xcuserdatad/UserInterfaceState.xcuserstate

DotMatrixDemo/Pods/*

DotMatrixDemo/Podfile.lock

DotMatrixDemo/DotMatrixDemo.xcworkspace/contents.xcworkspacedata
